table 			{
				font-family: arial;
				border-spacing: 0px;
				border-left: 0px;
				border-right: 0px;
				border-collapse: collapse;
				}

td				{
				border-right: 1px solid black;
				border-left: 1px solid black;
				}

th				{
				border-top: 1px solid black;
				border-right: 1px solid black;
				border-left: 1px solid black;
				background-color: lightblue;
				}

.wrapper		{
				border-top: 1px solid black;
				border-bottom: 1px solid black;
				border-spacing: 1px;
				border-collapse: separate;
				margin: 5px;
				}

td.noSides		{
				border-left: 0px;
				border-right: 0px;
				}

.noRightSide	{
				border-right: 0px;
				}

tr.brow > td	{
				border-bottom: 1px solid black;
				}

tr.titleRow > th	{
				border-top: 1px solid black;
				border-bottom: 1px solid black;
				}

td.leftCell		{
				background-color: lightblue;
				border-left: 0px;
				}	
