body		{
			background-image: url("http://www.public-domain-photos.com/free-stock-photos-1/landscapes/mountains/mountain-49.jpg");
			}

div 		{
			margin-left: auto;
			margin-right: auto;
			}

a 			{
			color: white;
			}

a:visited	{
			color: white;
			}

#wrapper	{
			margin-top: 5%;
			width: 70%;
			background-color: #333300;
			border-radius: 10px;
			padding: 10px;
			border: 1px solid black;
			}

#innerWrapper 	{
				width: 95%;
				}

#header		{
			border: 1px solid black;
			background-color: #336699;
			}

#titlebar	{
			text-align: center;
			border: 1px solid black;
			}

#pageTitle	{
			font-family: monospace;
			font-size: 40px;
			}

#content 	{
			padding-top: 5px;
			padding-bottom: 5px;
			padding-left: 10px;
			padding-right: 10px;
			border: 2px solid black;
			margin-top: 10px;
			margin-bottom: 10px;
			background-color: #336633;
			
			}

#bottomNav	{
			background-color: #663300;
			}

#topNav		{

			}

#disclaimer	{
			color: white;
			}

.navbar		{
			padding: 0%;
			border-top: 1px solid black;
			border-bottom: 1px solid black;
			}

.navButton	{
			border-right: 1px black solid;
			text-align: center;
			position: relative;
			display: inline-block;
			width: 19%;
			font-size: 20px;
			padding: 2px;
			}

